<div class="app-main">
	<div class="nav">
		<img id="logo" src="https://s3.amazonaws.com/tellme-app/svg-light.svg">
		<% if (session.User.admin){%><a class="new-property-btn" href="/main/admin">Admin</a><%}%>
		<% if (session.User.monthlyPlan == 'plus'){%><a class="new-property-btn" href="/leads"><i class="fa fa-comments-o"></i> Leads</a><%}%>
		<a class="new-property-btn" href="/property"><i class="fa fa-home"></i> Properties</a>
		<a class="new-property-btn" href="/property/new"><i class="fa fa-plus"></i> Add new property</a>
		<a class="new-property-btn" href="/settings"><i class="fa fa-cog"></i> Settings</a>
		<a class="new-property-btn" href="/session/destroy"><i class="fa fa-sign-out"></i> Log out</a>
	</div>

	<div class="container">
		<div class="main-content">
				<h1>Leads</h1>
				<h3 class="phone-number">Your TellMe phone number: <em><span id="phone-number"><%= session.User.readableNumber %></span></em></h3>
				<div class="properties">
					<% _.each(leads, function(lead) { %>
						<div class="property">
							<span class="property-address">
								<%= lead.propertyAddress %>
							</span>
							<span class="leads">
								<%= lead.number %>
							</span>
							<span class="createdAt" datetime="<%= lead.createdAt %>"><%= lead.createdAt %></span>
						</div>
					<% }) %>	
				</div>
		</div>
	</div>
</div>